*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    height: 100%;
}
body {
    height: 100%;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
button {
    display: block;
    position: relative;
}
.container {
    width: 80%;
    max-width: 120rem;
    margin: 0 auto;
}
.wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0;
}
.btn {
    display: block;
    padding: 1rem auto;
    text-transform: none;
}
.btn.btn-lg {
    width: 80%;
    max-width: 80rem;
    margin: 0 auto;
}
/* fonts */
.fs1 {
    font-size: 4rem;
}
.fs2 {
    font-size: 3rem;
}
.fs3 {
    font-size: 2rem;
}
.fs4 {
    font-style: 1.5rem;
}
/* headers */
.navbar {
    position: relative;
}
.navbar h1 {
    margin: 0 auto;
}
.navbar .material-icons {
    position: absolute;
    top: 50%;
    left: calc(1 / 3 * 0.1 * 100%);
    transform: translateY(-40%);
}
/* vocabulary */
.detail ul {
    list-style: decimal;
}
.word-list form {
    width: 80%;
    max-width: 80rem;
    margin: 0 auto;
}
